header {
    width:100%;
    height: auto;
    display: block;
    float: left;
    background-color: #343a40;
}

main {
    width: 70%;
    height: 550px;
    display: block;
    float: left;
    background-color: #9BA4B4;
}

aside {
    width: 30%;
    height: 550px;
    display: block;
    float: left;
    background-color: #14274E;
}

footer {
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #394867;
}

.logo-jornal {
    width: 150px;
    margin-left: 5%;
}