
body {
    background-color: #9BA4B4;   
}

header {
    height: auto;
    background-color: #343a40;
}

.header-cor {
    background-color:#14274E;
}

.cor-texto {
    color: white;
}


main {
    height: auto;
    background-color: #9BA4B4;
}
/* ASIDE */
aside {
    background-color:#141823;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}
aside .card-body{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;


}
aside .card{
    width: 30%;
    margin-left: 13%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 3%;
}
aside .btn{
    width: 60%;
    float: left;
    margin-left: 60%;
    margin-right: 10%;
}

.card-image {
    border-radius: 3%;
    margin-top: 3px;
}

footer {


    height: auto;
    background-color: #394867;
    
}   


.logo-jornal {
    width: 150px;
    margin-left: 5%;
}


body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background:#9BA4B4;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#394867;  
    border-radius: 20px;      
    border: 3px solid #394867;  
  }


footer img {
    margin-top: 15px;
    margin-left: 15px;
    width: 110px;
}
.nomes {
   float: right; 
   margin-top: 30px;
}

.linkgit {
    color: white;
       
    }
    
    a:hover {
    
    color: white;
    
    
    text-decoration: underline;
    
    
    }

    .noticia-text {
        text-align: center;
        }

    .p-noticia {
        text-align: justify;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
    }

.imagemeditoria {
    width: 40%;
    margin-left: 35%;
    margin-bottom: 20px;
}

.text-editoria {
    text-align: center;
}

.image-noticia {
    border-radius: 3%;
}

.carousel-imgs {
    border-radius: 15px;
}

.p-cronica {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.shadow-text 
    {text-shadow: 0.2em 0.2em 0.15em black}

p {
    text-align: justify;
}

@media screen and (max-device-width: 480px) {
	main {
		background: yellow;
	}
}


.card-noticia {
    width: 100%;
    background-color: black;
}

.card-index {
    height: 600px;
}

.img-card-index {
    height: 350px;
}