header {
    width:100%;
    height: 150px;
    display: block;
    float: left;
    background-color: #F1F6F9;
}

main {
    width: 70%;
    height: 550px;
    display: block;
    float: left;
    background-color: #9BA4B4;
}

aside {
    width: 30%;
    height: 550px;
    display: block;
    float: left;
    background-color: #14274E;
}

footer {
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #394867;
    color: azure;
}


footer img {
    margin-top: 15px;
    margin-left: 15px;
    width: 110px;
}
.nomes {
   float: right; 
   margin-top: 30px;
   margin-right: 35px;
}

.lilinks {

color: black;

}

a {

color: white;

}

a:visited {

color: white;


}


a:hover {

    text-decoration: underline;

color: white;

}

a:active {

color: white;



}